<?xml version='1.0' encoding='utf-8'?>

<hibernate-configuration>

<session-factory>

<property name="hibernate.dialect">org.hibernate.dialect.OracleDialect</property>

<property name="hibernate.connection.driver_class">org.h2.Driver</property>

<property name="hibernate.connection.url">jdbc:h2:C:\\GLBootCamp\\data\\Alumno.h2</property>

<property name="hibernate.connection.username">root</property>

<property name="hibernate.connection.password">root</property>

<property
name="hibernate.current_session_context_class">org.hibernate.context.internal.ThreadLocalSessi
onContext</property>

<mapping class="com.jcg.hibernate.annotations.Alumno" />

</session-factory>

</hibernate-configuration>